*,*:before,*:after{
  box-model: border-box;
  margin: 0;
  padding: 0;
}
:root{
  --color-primary: #003263;
  --color-light: #C8E4F1;
  --color-accent: #49A1DD;
  --color-mid: #0058AD;
  --color-overlay: rgba(0, 50, 99, 0.65);
}
body{
  background: var(--color-primary);
  color: var(--color-light);
  font-size: 1rem;
  font-family: Roboto, ui-sans-serif, sans-serif;
}
h2,
h1{
  font-size: 88px;
  font-size: 5.5rem;
  font-weight: 900;
  line-height: 0.8;
  text-transform: uppercase;
}
.hero h1{
  font-size: 1rem;
  font-weight: 200;
  font-weight: 300;
  text-transform: initial;
}
ul{
  list-style: none;
}
footer,
main,
nav{
  max-width: 1440px;
  max-width: 90rem;
  margin: auto;
  padding: 1rem;
}
button{
  padding: 0.75rem;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  background: var(--color-accent);
  border: none;
  border-radius: 0.5rem;
  box-shadow: inset 0.125rem 0.125rem 0.125rem var(--color-light), inset -0.125rem -0.125rem 0.125rem var(--color-primary);
  transition: all ease-in-out 250ms;
}
button:hover{
  box-shadow: none;
}
button .line{
  transition: all ease-in-out 250ms;
}
button.open :nth-child(1){
  rotate: 35deg;
  transform-origin: left;
}
button.open :nth-child(2){
  opacity: 0;
}
button.open :nth-child(3){
  rotate: -35deg;
  transform-origin: left;
}
.line{
  height: 2px;
  height: 0.125rem;
  width: 24px;
  width: 1.25rem;
  background: var(--color-primary);
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu-slideout{
  display: none;
}
.hero{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.hero .img{
  background: linear-gradient(var(--color-overlay), var(--color-overlay)), url(../img/canon-nytimes-takeover-jamie-foxx.mp4), url(../img/canon-imagina10n-takeover.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 100%;
  height: 560px;
  margin: auto;
}
.hero .text{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  /* position: relative; */
  /* top: -4rem; */
  transform: translate(0, -4rem);
}
ul.clients{
  display: flex;
  gap: 1rem;
  justify-content: space-around;
}
ul.clients li img{
  /* max-width: 25vw; */
  width: 20vw;
  height: auto;
}